/**********GENERAL*************/

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.content {
  position: absolute;
  text-align: justify;
  top: 120px;
  margin: 0 10% 0 10%;
  width: 80%;
  display: none;
  padding: 0 15px 0 15px;
  height: 400px;
  overflow-y: scroll;
}

.content > p, .content > strong {
  /*width: 70%;*/
  margin-bottom: 5px

}
/*before clicking button*/

.app-container {

}

.content-container {
  width: 100%;
  position: absolute;
  top: 0px;

}

.jumbotron {
  width: 100%;
  position: absolute;
  top: 160px;
  height: 230px;
  background: #601848;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lead-text {
  width: 100%;
  position: absolute;
  top: 350px;
  color: #251C1D;
  text-align: center;
  margin: auto;
  margin-top: 30px;

}

.lead-text > p {
  width: 70%;
  margin: auto;
}

#menu-container {
  width: 100%;
  position: absolute;
  top: 430px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

/* after clicking button*/

.scrollupandremove {
  display: none
  /*sill need to transition moving up*/
}

.content-container.activate {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#menu-container.activate-menu {
  top: 0px;
  height: 100px;
  background: #351330;
}

/**********Front page only**********/

.my-name {
  font-family: 'Prosto One', sans-serif;
  text-align: center;
  font-size: 60px;
  line-height: 0px;

}

.my-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
}

.profile-pic {
  width: 100%;
  margin: auto;
  float: left;
}

.fa-quote-left {
  font-size: 20px
}

.fa-quote-right {
  font-size: 20px
}

/**********Icons**********/

#icons-container {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: #64908A;
  height: 80px;
  width: 100%;
}

#icons-container.activate-icons {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  height: 300px;
  margin: 4% 3% 3% 3%;
}

#icons-container > a {
  text-decoration: none;
  color: #64908A;
}

.fa-envelope:hover {
  cursor: pointer;
}


/***********Main menu buttons***********/

.menu-button {
  background: #300030;
  color: white;
  font-family: sans-serif;
  border-radius: 10px 10px 10px 10px;
  /*-moz-border-radius: 42px 42px 42px 42px;
  -webkit-border-radius: 42px 42px 42px 42px;*/
  height: 70px;
  width: 180px;
  border: none;
  font-size: 15px;
  display: block;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button.activate-button {
  background: white;
  color: #424254;
  font-weight: bold
}

/**********Main content container**********/

#main-container.hidden {
  display: none
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#main-container.aboutmepage {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/**********Text container**********/

#text-container {
  text-align: center;
  width: 80%;
  padding-top: 3%;
  background: lightgrey;
  min-height: 200px;
  padding: 50px;
  border: 20px solid white;
}

#text-container.aboutmepage {
  width: 60%;
  text-align: justify;
  left: 30%;
  padding-top: 10px;
}

/**********Next step bottom button**********/
.next-step-button-container {
  display: flex;
  justify-content: center;
  background: grey
}

.next-step-button {
  display: block;
  background: #CC2A41;
  color: white;
  font-family: sans-serif;
  border-radius: 10px 10px 10px 10px;
  /*-moz-border-radius: 42px 42px 42px 42px;
  -webkit-border-radius: 42px 42px 42px 42px;*/
  height: 50px;
  width: 210px;
  border: none;
  font-size: 15px;
}

.next-step-button:focus {
  outline: none;
}

.next-step-button.hidden {
  display: none
}
.next-step-button:hover {
  cursor: pointer;
}


/**********About me menu buttons**********/
#aboutme-button-container {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  /*height: 100px;*/
  width: 100%;
}

#aboutme-button-container.hidden {
  display: none;
}

.tab-button {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  display: inline;
  position: relative;
  border-color: grey;
  border-radius: 3px 0 0 3px;
  width: 20%;
  padding: 4px 20px 0px 20px;
  background: linear-gradient(45deg, lightgrey 87%, white 50%),
}

.tab-button:hover {
  cursor: pointer;
}

.everythingelse-text {
  display: none;
  border-top: 8px solid grey
}

.about-button:focus {
  outline: none;
}

.about-button.selected {
  font-weight: bold;
}

.about-button:hover {
  cursor: pointer;
}

/**********Photos page**********/

#screenshots-container {
  width: 80%;
  margin: 4% 10% 3% 10%;
  display: flex;
  justify-content: space-around;
}

#screenshots-container.hidden {
  display: none
}

#screenshotsdesc-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.screenshot {
  margin: auto;
  text-align: center;
  max-width: 90%;
}

.subline {
  margin-top: 10px;
  color: black;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.subline a {
  color: black
}


.screenshot:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
/**********Footer**********/

footer a {
  text-decoration: none;
  color: lightgrey
}

footer {
  height: 23px;
  background: #601848;
  display: none;
  position: relative;
  color: lightgrey;
  font-size: 12px;
  width: 100%;
}

footer > p {
  position: absolute;
  margin: auto;
  bottom: 5px;
  width: 100%;
  text-align: center;
}


.site-sample.hidden {
  display: none;
  background: grey;
  border: 3px solid grey
}

.site-sample p {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  width: 20%;
  float: left
}


.site-screenshot {
  border: 20px solid transparent;
  width: 70%;
  float: left
}

.site-screenshot > img {
  width: 90%
}







/**********EMAIL POPUP**********/

.emailpopup {
  position: absolute;
  left: 25%;
  top: 100px;
  background: white;
  height: 40vw;
  width: 50vw;
  z-index: 20;
}

.emailpopup.hidden {
  display: none
}
